* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid plum;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app__container {
  /* display: flex; */
  /* padding: 1rem 1rem; */
  flex-direction: column;
  gap: 2rem;
  /* align-items: center; */
  /* background-color: red; */
  /* border: 1px solid plum; */
  height: 100vh;
  /* padding: 0rem 1rem; */
  /* margin: 0 2rem; */
}

.flex__container {
  display: flex;
  justify-content: center;
}

.answers__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem 0;
}

.quiz__container {
  /* border: 1px solid gray; */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(252, 252, 252);
  /* justify-content: center; */
  /* align-items: center; */
  /* min-width: 100%; */
  max-width: 800px;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding: 2rem;
}

.question {
  /* border-bottom: 2px dashed gainsboro; */
  /* padding-bottom: 10px; */
}

.quiz__container button {
  padding: 0.5rem 1rem;
  margin: 0 0 20px 0;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  align-self: center;
}

.quiz__container button:hover {
  background-color: rgb(215, 215, 215);
}

.question {
  font-size: 2rem;
}

.nav {
  background-color: rgb(80, 28, 201);
  font-weight: bold;
  letter-spacing: 6px;
  color: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 1rem 0;
}

.qr__container {
  display: flex;
  justify-content: center;
}

.container {
  padding: 0rem 1rem;
  margin: 0 2rem;
}

small {
  color: gray;
}

.name__container button,
.restart__btn {
  /* padding: 0.5rem; */
  padding: 0.5rem 1rem;
  margin: 0 0 20px 0;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  margin-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  cursor: pointer;
}

.name__container button:hover,
.restart__btn:hover {
  background-color: rgb(231, 231, 231);
}

.name {
  padding-top: 10px;
  /* letter-spacing: 1px; */
}

.name__container {
  margin: 1rem 0;
  text-align: center;
}

.name__container input {
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border: 1px solid gainsboro;
}

.score {
  display: block;
  margin: 1rem 0;
}

.restart__btn {
  display: block;
  margin: 1.2rem 0;
  justify-self: center;
}

.end__container {
  display: flex;
  justify-content: center;
}

.end__container small {
  margin-top: 10px;
  display: block;
}
